<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <!-- Root menu -->
    <menuitem
        name="Shift Management"
        id="menu_root"
        groups="shift.group_shift_attendance"
        web_icon="shift,static/description/icon.png"
    />


    <!-- Planning -->
    <menuitem
        name="Planning"
        id="menu_task_top"
        parent="menu_root"
        sequence="1"
        groups="shift.group_shift_attendance"
        action="action_task"
    />


    <!-- Templates -->
    <menuitem
        name="Template"
        id="menu_template_top"
        parent="menu_root"
        groups="shift.group_shift_management"
        sequence="20"
        action="action_planning"
    />
</odoo>
