<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <!-- Root menu -->
    <menuitem
        name="Shift Management"
        id="menu_root"
        groups="shift_light.group_shift_attendance"
        web_icon="shift_light,static/description/icon.png"
    />


    <!-- Planning -->
    <menuitem
        name="Planning"
        id="menu_shift_top"
        parent="menu_root"
        sequence="1"
        groups="shift_light.group_shift_attendance"
        action="shift_light.action_shift"
    />


    <!-- Config -->

    <menuitem
        name="Settings"
        id="menu_settings"
        parent="menu_root"
        groups="shift_light.group_shift_management"
        sequence="20"
        action="shift_light.action_planning"
    />

    <menuitem
        name="Generate planning"
        id="menu_template_top"
        parent="menu_settings"
        groups="shift_light.group_shift_management"
        sequence="20"
        action="shift_light.action_planning"
    />

    <menuitem
        name="Shift list"
        id="menu_shift_list"
        parent="menu_settings"
        groups="shift_light.group_shift_management"
        sequence="21"
        action="shift_light.action_shift_list"
    />

    <menuitem
        name="Days"
        id="menu_days"
        parent="menu_settings"
        groups="shift_light.group_shift_management"
        sequence="30"
        action="shift_light.action_days"
    />

    <menuitem
        name="Shift type"
        id="menu_shift_type"
        parent="menu_settings"
        groups="shift_light.group_shift_management"
        sequence="40"
        action="shift_light.action_shift_type"
    />
</odoo>
